.pageoverflow {
 overflow:auto;
}

.pagenav, .browsenav {
 padding:5px;
}

.lolines textarea {
 height:4em;
}
.midlines textarea {
 height:7em;
}
.hilines textarea {
 height:15em;
}

/* radio buttons */
label.radiolabel {
 margin:0 0.5em;
 vertical-align:0.2em;
}

/* empty = just kill .pagetable settings */
table.pagetable th {}
table.pagetable td.check {
 text-align:center;
}

table.leftwards {
 margin-left:0;
 width:auto;
 table-layout:auto;
}

table.rightwards {
 margin-right:0;
 width:auto;
 table-layout:auto;
}

table.table_sort th {
 padding:5px;
 margin-left:20px;
 margin-right:20px;
 border-collapse:collapse;
 background-image:none;
 text-align:left;
 cursor:default;
}

table.table_sort th.ord, table.table_sort th.\{sss\:false\} {
 margin-left: 0;
 padding-left: 2px;
}

table.table_sort th.checkbox {
 margin-left: 20px;
 padding-left: 12px;
}

table.table_sort th.SortAble {
 padding-left:12px;
 background-image:url(../images/bgdark.png);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort th.SortUp {
 padding-left:12px;
 background-image:url(../images/ascdark.png);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort th.SortDown {
 padding-left:12px;
 background-image:url(../images/descdark.png);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort td.row1s {
 background-color:#e9e9e9;
}

table.table_sort td.row2s {
 background-color:#d9d9d9;
}

/* popup modal dialog */
/* Overlay */
#alertable\-overlay {
 position:fixed;
 z-index:9998;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background:rgba(153, 153, 153, .5);
}

/* Form */
#alertable {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f2f2f2;
 border:solid 3px #173617;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

#alertable\-error {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f9ebeb;
 border:solid 3px #990000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

/* Message */
#alertable\-message {
 margin-bottom:20px;
 font-weight:bold;
/* font-size:inherit; */
}

/* Prompt */
#alertable\-prompt {
 margin-bottom:20px;
}

#alertable\-input {
 width:95%;
 box-shadow:none;
 border:solid 1px #003300;
 font-family:inherit;
/* font-size:inherit; */
 color:inherit;
 padding:6px 12px;
 display:block;
 box-sizing:border-box;
 margin-bottom:10px;
}

/* Button group */
#alertable\-buttons {
 text-align:center;
}

/* OK button */
#alertable\-ok {
 background-color:#ecbb00;
 border:solid 1px #ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-ok:hover,
#alertable\-ok:focus,
#alertable\-ok:active {
 color:#fff;
 background-color:#00b200;
}

/* Cancel button */
#alertable\-cancel {
 border:solid 1px #ecbb00;
 background-color:#ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-cancel:hover,
#alertable\-cancel:focus,
#alertable\-cancel:active {
 color:#fff;
 background-color:#f00;
}


/* Strengthify */

.strengthify-wrapper {
 position:relative;
}

.strengthify-wrapper > * {
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter:alpha(opacity=0);
 opacity:0;
 -webkit-transition:all .5s ease-in-out;
 -moz-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;
}

.strengthify-bg, .strengthify-container, .strengthify-separator {
 height:3px;
}

.strengthify-bg, .strengthify-container {
 display:block;
 position:absolute;
 width:100%;
}

.strengthify-bg {
 background-color:#bbb;
}

.strengthify-separator {
 display:inline-block;
 position:absolute;
 background-color:#fff;
 width:1px;
 z-index:10;
}

.password-bad {
 background-color:#c33;
}
.password-medium {
 background-color:#f80;
}
.password-good {
 background-color:#3c3;
}

div[data-strengthifyMessage] {
 padding:3px 8px;
}

.strengthify-tiles {
 float:right;
}
