#authcontainer {
 margin:1em auto 0 auto;
}

#authelements {
}

#authactions {
 margin-top:1em;
 text-align:left;
}

.authtext {
}

div#authelements .authtitle {
 font-weight:bold;
 margin-top:1em;
 margin-bottom:0;
 padding-bottom:0;
}

div#authelements .authinput {
 margin-top:2px;
}

.hidejs {
 color:red;
 text-align:center;
}
