.pagemessage, #needjs {
 color:red;
 font-weight:bold;
 text-align:center;
}

/*radio buttons*/
.radiolabel {
 margin-right:5px;
 vertical-align:top;
}

input.captcha {
 display:table-cell;
 vertical-align:28px;
}
